article.post {
  .post-date { font-size: 1.4rem; }
  .post-title {
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }

  section.post-content {
    h3 {
      font-family: "Open Sans", sans-serif;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-size: 17px !important;
      line-height: 200%;
      letter-spacing: 0.5px;
      font-weight: 400;
    }
  }

  section.footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
    p { padding: 1rem; }
  }

  code {
    font-size: 1.1rem;
  }
}

article.post-preview {
  .post-date { font-size: 1.4rem; }
  .post-title { margin: 0; }
}
