
    {% if page.url != '/' %}
      <footer class="columns">
        <div class="small-12 large-8 large-offset-2">
          <ul class="list-1">
            <li><h4>CJ Jessett</h4></li>
            <li><a href="mailto:cjessett@utexas.edu">cjessett@utexas.edu</a></li>
          </ul>
          <ul class="list-2">
            <li>
              <span><i class="fa fa-github"></i></span>
              <a href="{{ site.github }}">cjessett</a>
            </li>
            <li>
              <span><i class="fa fa-twitter"></i></span>
              <a href="{{ site.twitter }}">kep20f</a>
            </li>
          </ul>
        </div>
      </footer>
    {% endif %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
