<!DOCTYPE html>
<html>

<head>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800|Raleway:400,200,700" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/main.css">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{{ page.title }} - {{ site.title }}</title>
</head>

{% if page.url == '/' %}
  <body class="fix-height">
{% else %}
  <body class="min-height">
{% endif %}
